/* WHY CHOOSE US */

.why-us{
    padding:60px 20px;
    text-align:center;
    background:#fff;
}

.features{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.feature-box{
    width:250px;
    padding:20px;
    background:#f7f7f7;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:.3s;
}

.feature-box:hover{
    transform:translateY(-8px);
}

.feature-box h3{
    margin-bottom:10px;
    color:#ff6b00;
}
